%h1 商品一覧
= link_to 'トップ', root_path
%p 商品検索
= form_with model: @product, method: :get,  local: true do |f|
  = f.text_field :name
  = f.submit '検索'

%table
  %tr
    %th 商品名
    %th 価格
    %th 商品詳細
  - @products.each do |product|
    %tr
      %td
        = link_to product.name, product_path(product.id)
      %td
        = product.price
      %td
        = product.details
