%h1 商品詳細
%ul
  %li
    = @product.name
  %li
    = @product.price
  %li
    = @product.details
  %li
    = link_to 'お気に入りに追加する', favorites_path(favorite: { product_id: @product.id, user_id: current_user.id }), method: :post
= form_with model: Order.new, local: true do |f|
  = f.hidden_field :name, :value => @product.name
  = f.hidden_field :price, :value => @product.price
  = f.text_field :quota
  = f.submit 'カートに入れる'